In [58]:
import pandas as pd

df = pd.read_csv("../data/Sentiment Dataset.csv", nrows=100, usecols=['Sentiment', 'SentimentText'])

df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [148]:
run ../dataprep/symbolic_approach.py

In [153]:
import nltk
tokenized = nltk.word_tokenize("good".replace('.', '').strip())

In [154]:
print(evaluate(tokenized))
df.head()

word:  good val: 0.6000000000000001
word:  good val: 1
1

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

True