In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("../data/Sentiment Dataset.csv", nrows=100)

In [15]:
df.head()

,ItemID,Sentiment,SentimentSource,SentimentText,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1,0,NaN,is so sad for my APL frie...,NaN,NaN,NaN
1,2,0,NaN,I missed the New Moon trail...,NaN,NaN,NaN
2,3,1,NaN,omg its already 7:30 :O,NaN,NaN,NaN
3,4,0,NaN,.. Omgaga. Im sooo im gunna CRy. I'...,NaN,NaN,NaN
4,5,0,NaN,i think mi bf is cheating on me!!! ...,NaN,NaN,NaN

In [16]:
df.drop(labels=['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'SentimentSource'], axis=1, inplace=True)

In [17]:
df.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [10]:
from afinn import Afinn

In [12]:
affin = Afinn()

In [18]:
df['afinn'] =  df.apply(lambda x: affin.score(x['SentimentText']), axis=1)

In [19]:
df.columns

Index(['ItemID', 'Sentiment', 'SentimentText', 'afinn'], dtype='object')

In [26]:
df[['SentimentText', 'Sentiment','afinn']].head(10)

,SentimentText,Sentiment,afinn
0,is so sad for my APL friend.............,0,-1.0
1,I missed the New Moon trailer...,0,-2.0
2,omg its already 7:30 :O,1,0.0
3,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2...,0,-1.0
4,i think mi bf is cheating on me!!! T_T,0,-3.0
5,or i just worry too much?,0,-3.0
6,Juuuuuuuuuuuuuuuuussssst Chillin!!,1,0.0
7,Sunny Again Work Tomorrow :-| TV Tonight,0,0.0
8,handed in my uniform today . i miss you already,1,-2.0
9,hmmmm.... i wonder how she my number @-),1,0.0

In [23]:
 pd.get_option("display.max_colwidth")

50

In [24]:
pd.set_option('display.max_colwidth', 100)

In [28]:
! pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
Installing collected packages: vaderSentiment

Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\program files (x86)\\python37-32\\Lib\\site-packages\\vaderSentiment'
Consider using the `--user` option or check the permissions.

In [30]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [63]:
def vader_sentiment(sentences):
    analyzer = SentimentIntensityAnalyzer()
    return {'vaderSentiment_' + k : v for k,v in analyzer.polarity_scores(sentences).items()}

In [64]:
vaderSentiments = df.apply(lambda x: vader_sentiment(x['SentimentText']), axis=1)

In [70]:
df = df.merge(pd.DataFrame(vaderSentiments.tolist()), left_index=True, right_index=True)

In [71]:
df.columns

Index(['ItemID', 'Sentiment', 'SentimentText', 'afinn', 'vaderSentiment',
       'vaderSentiment_compound', 'vaderSentiment_neg', 'vaderSentiment_neu',
       'vaderSentiment_pos'],
      dtype='object')

In [72]:
df[['SentimentText', 'Sentiment','afinn', 'vaderSentiment_compound', 'vaderSentiment_neg', 'vaderSentiment_neu',
       'vaderSentiment_pos']].head(10)

,SentimentText,Sentiment,afinn,vaderSentiment_compound,vaderSentiment_neg,vaderSentiment_neu,vaderSentiment_pos
0,is so sad for my APL friend.............,0,-1.0,-0.5256,0.361,0.639,0.000
1,I missed the New Moon trailer...,0,-2.0,-0.2960,0.355,0.645,0.000
2,omg its already 7:30 :O,1,0.0,-0.2808,0.348,0.652,0.000
3,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2...,0,-1.0,-0.4767,0.129,0.871,0.000
4,i think mi bf is cheating on me!!! T_T,0,-3.0,-0.6679,0.390,0.610,0.000
5,or i just worry too much?,0,-3.0,-0.4404,0.420,0.580,0.000
6,Juuuuuuuuuuuuuuuuussssst Chillin!!,1,0.0,0.0000,0.000,1.000,0.000
7,Sunny Again Work Tomorrow :-| TV Tonight,0,0.0,0.2732,0.179,0.526,0.295
8,handed in my uniform today . i miss you already,1,-2.0,-0.1531,0.186,0.814,0.000
9,hmmmm.... i wonder how she my number @-),1,0.0,0.0772,0.000,0.822,0.178

# LDA

# SentinelWordNet

In [41]:
from nltk.corpus import sentiwordnet as swn

In [50]:
slow = swn.senti_synsets('happy')

In [51]:
list(slow)

[SentiSynset('happy.a.01'),
 SentiSynset('felicitous.s.02'),
 SentiSynset('glad.s.02'),
 SentiSynset('happy.s.04')]

In [52]:

slow = swn.senti_synsets('sad')

In [53]:
list(slow)

[SentiSynset('sad.a.01'),
 SentiSynset('sad.s.02'),
 SentiSynset('deplorable.s.01')]

In [75]:
general_inquiere = pd.read_csv(r"C:\Users\C18244A\Documents\Datathon 2019\text-analysis\lexicons_external\inquirerbasic.csv")

c:\program files (x86)\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (63,108,109,110,176) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
general_inquiere.shape

(11788, 186)

In [77]:
general_inquiere.head()

,Entry,Source,Positiv,Negativ,Pstv,Affil,Ngtv,Hostile,Strong,Power,...,Anomie,NegAff,PosAff,SureLw,If,NotLw,TimeSpc,FormLw,Othtags,Defined
0,A,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET ART,| article: Indefinite singular article--some or any one
1,ABANDON,H4Lvd,NaN,Negativ,NaN,NaN,Ngtv,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|
2,ABANDONMENT,H4,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
3,ABATE,H4Lvd,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|
4,ABATEMENT,Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,NaN

In [83]:
df = pd.read_excel("C:/Users/C18244A/Downloads/emosenticnet.xls", sheet_name='EmoSenticNet')

In [86]:
df.head()

         Concepts  Anger  Disgust  Joy  Sad  Surprise   Fear
0     weltschmerz      0        0    1    0          0     0
1      detachment      0        0    0    1          0     0
2          unrest      0        0    0    1          0     0
3  unfriendliness      1        0    0    0          0     0
4       unconcern      0        1    0    0          0     0

In [87]:
df.to_csv("../data/emo_sentic_net.csv", index=False)

In [95]:
affin.score('goooood')

0.0

In [97]:
vader_sentiment('very good')

{'vaderSentiment_neg': 0.0,
 'vaderSentiment_neu': 0.238,
 'vaderSentiment_pos': 0.762,
 'vaderSentiment_compound': 0.4927}

In [106]:
vader_sentiment('not happy')

{'vaderSentiment_neg': 0.75,
 'vaderSentiment_neu': 0.25,
 'vaderSentiment_pos': 0.0,
 'vaderSentiment_compound': -0.4585}

In [126]:
df = pd.read_csv('../lexicons/emo_sentic_net.csv')

In [122]:
df.head()

         Concepts  Anger  Disgust  Joy  Sad  Surprise   Fear
0     weltschmerz      0        0    1    0          0     0
1      detachment      0        0    0    1          0     0
2          unrest      0        0    0    1          0     0
3  unfriendliness      1        0    0    0          0     0
4       unconcern      0        1    0    0          0     0

In [131]:
df.columns.tolist()

['Concepts', 'Anger', 'Disgust', 'Joy', 'Sad', 'Surprise ', 'Fear']

In [135]:
df.columns = df.columns.map(str.strip)

In [140]:
df['Positive'] = df[['Joy', 'Surprise']].sum(axis=1)

In [141]:
df['Negative'] = df[['Anger', 'Disgust', 'Sad', 'Fear']].sum(axis=1)

In [144]:
df[['Concepts', 'Positive', 'Negative']].to_csv('../lexicons/emo_sentic_net_new.csv', index=False)